<!-- 
    Lori Sinclair
    12/2/2019
    ITSE 1311 Semester Project
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinclair</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  
    <!-- Header -->
    <header>
        <h1>Dr. Roy Sinclair</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="./index.html" title="Back to Home page" >HOME</a>
        <a href="./academics.html" title="UofA and MIT" >Academics</a>
        <a href="./weightlifting.html" title="IWF">Weightlifting</a>
        <a href="./recognition.html" title="Awards">Recognition</a>
        <a href="./personal.html" title="Life">Personal</a>
        <a class="navExternal" href="https://en.wikipedia.org/wiki/Sinclair_Coefficients" title="External" target="_blank">Sinclair Coefficients</a>
        <a class="navExternal" href="https://www.iwf.net/2015/03/23/dr-roy-sinclair-father-of-the-sinclair-bodyweight-formula-passed-away/" title="External" target="_blank">IWF</a>
        <a class="navExternal" href="http://www.edmontonjournal.com/opinion/Life+Times+Academically+driven+weightlifter+maintained/11002503/story.html" title="External" target="_blank">Newspaper</a>
    </nav>

    <!-- The flexible grid (content) -->
    <div class="container">
        <main>
            <h2>Academics</h2>
            <p>Dad excelled at academics right from an early age.</p>
            <ul>
                <li>He skipped a grade, and was an avid reader, reading every book in the library.  I often said he was a "walking encyclopedia", being well versed in every subject and finding a common interest with almost anyone.</li>
                <li>Also, he had a passion for music.  He studied the piano for many years, and even sometimes performed at functions. His mother was a piano teacher and performer.</li>
                <li>He earned his Bachelor of Science at the University of Alberta with the highest grades in the faculty. <br>
                    <br>
                    <img class="imageSmall" src="./media/UofA.JPG" alt="UofA">
                    <br>
                    <img class="imageNormal" src="./media/1951b.jpg" alt="Classmates">
                    <img class="imageNormal" src="./media/1952.jpg" alt="Roy and Norm">
                    <img class="imageNormal" src="./media/1953b.jpg" alt="Handstand">
                </li>
                <li>Afterwards he moved to Boston to pursue his PhD in mathematics at MIT, Massachusetts Institute of Technology. <br>  
                    <img class="imageNormal" src="./media/MIT.JPG" alt="MIT">
                    <img class="imageNormal" src="./media/1960.JPG" alt="Grad">
                </li>
                <li>While at MIT, my Dad had many amazing experiences where he:
                    <ul>
                        <li>attended a lecture on the Theory of Relativity by the Sir Albert Einstein himself.</li>
                        <li>went on double dates with the Nobel Prize winning mathematician, John Forbes Nash (portrayed in the movie A Beautiful Mind).</li>
                        <li>attended many historical speeches, including one by Martin Luther King.</li>
                    </ul>
                </li>
                <li>After earning his PhD at MIT, he returned to his educational roots and accepted a professorship back home at the University of Alberta, where he taught for about 30 years until retirement.</li>
                <br>
                <img src="./media/1962a.jpg" alt="1962 UofA Professor" height="500">
                <br>
                <li>Incidentally, he was the head professor when I was taking my Differential Equations courses in Electrical Engineering at the UofA. We both agreed it would be less stressful if I selected a section with a different professor. Although, he did mark a third of the questions on my exams, since they were a collective effort across the professors.</li>
                <br>
                <img src="./media/1993.JPG" alt="Lori's UofA grad" height="500">
                <br>
                <li>MIT 50th Reunion in Boston</li>
                <br>
                <img class="imageNormal" src="./media/2011j.JPG" alt="MIT 50">
                <img class="imageNormal" src="./media/2011k.JPG" alt="MIT 50 Lori">
                <br>
            </ul>
        </main>
        <aside>
            <h2>Highlights</h2>
            <h3>PhD in Mathematics, MIT 1961</h3>
            <img class="imageSmall" src="./media/1960.JPG" alt="1960 Grad">

            <h3>Mathematics Professor, University of Alberta 1961-89</h3>
            <img class="imageSmall" src="./media/1962a.jpg" alt="1962 UofA Professor">

            <h3>Alberta Sports Hall of Fame, 2011</h3>
            <img class="imageSmall" src="./media/2011g.jpg" alt="Sports Hall">
            <img class="imageSmall" src="./media/2011h.jpg" alt="Sports Hall with plaque">

            <h3>International Weightlifting Federation Hall of Fame, 2017</h3>
            <img class="imageSmall" src="./media/Awarding2.jpg" alt="IWF Hall of Fame">
        </aside>
    </div>

    <footer>
        <p>Website created by Lori Sinclair</p>
        <p>Last updated 12/2/2019</p>
    </footer>
  
</body>
</html>