<!-- 
    Lori Sinclair
    12/2/2019
    ITSE 1311 Semester Project
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinclair</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  
    <!-- Header -->
    <header>
        <h1>Dr. Roy Sinclair</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="./index.html" title="Back to Home page" >HOME</a>
        <a href="./academics.html" title="UofA and MIT" >Academics</a>
        <a href="./weightlifting.html" title="IWF">Weightlifting</a>
        <a href="./recognition.html" title="Awards">Recognition</a>
        <a href="./personal.html" title="Life">Personal</a>
        <a class="navExternal" href="https://en.wikipedia.org/wiki/Sinclair_Coefficients" title="External" target="_blank">Sinclair Coefficients</a>
        <a class="navExternal" href="https://www.iwf.net/2015/03/23/dr-roy-sinclair-father-of-the-sinclair-bodyweight-formula-passed-away/" title="External" target="_blank">IWF</a>
        <a class="navExternal" href="http://www.edmontonjournal.com/opinion/Life+Times+Academically+driven+weightlifter+maintained/11002503/story.html" title="External" target="_blank">Newspaper</a>
    </nav>

    <!-- The flexible grid (content) -->
    <div class="container">
        <main>
            <h2>Introduction</h2>
            <p>Dr. Roy Sinclair is known as the "Father of the Sinclair Bodyweight Formula" in the international weightlifting world, including at the Olympic level.</p>
            <p>He led a very interesting and fulfilling life. While earning his PhD at MIT in Boston, he attended a lecture by Sir Albert Einstein, socialized with Nobel Prize winner John Forbes Nash (A Beautiful Mind), and attended a Martin Luther King Jr. rally.</p>
            <p>He was born in Lethbridge, Alberta, Canada in 1929 to immigrants from England with a proud Scottish heritage.  He grew up during the Great Depression and dirty 30s, which shaped the rest of his life.  He always valued what he had and took care of it until the end, and was always prepared for whatever may come.</p>
            <p>Above all, my Dad was a most honorable and honest man and father.  I and so many more will miss him dearly.</p>
            <img class="imageNormal" id="showPicture" src="./media/1960.jpg" alt="Dad 1960">
        </main>
        <aside>
            <h2>Highlights</h2>
            <h3>PhD in Mathematics, MIT 1961</h3>
            <img class="imageSmall" src="./media/1960.JPG" alt="1960 Grad">

            <h3>Mathematics Professor, University of Alberta 1961-89</h3>
            <img class="imageSmall" src="./media/1962a.jpg" alt="1962 UofA Professor">

            <h3>Alberta Sports Hall of Fame, 2011</h3>
            <img class="imageSmall" src="./media/2011g.jpg" alt="Sports Hall">
            <img class="imageSmall" src="./media/2011h.jpg" alt="Sports Hall with plaque">

            <h3>International Weightlifting Federation Hall of Fame, 2017</h3>
            <img class="imageSmall" src="./media/Awarding2.jpg" alt="IWF Hall of Fame">
        </aside>
    </div>

    <footer>
        <p>Website created by Lori Sinclair</p>
        <p>Last updated 12/2/2019</p>
    </footer>
    
    <script src="./myScript.js"></script>
</body>
</html>
