<!-- 
    Lori Sinclair
    12/2/2019
    ITSE 1311 Semester Project
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinclair</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  
    <!-- Header -->
    <header>
        <h1>Dr. Roy Sinclair</h1>
        <!-- <p>1929 to 2015</p> -->
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="./index.html" title="Back to Home page" >HOME</a>
        <a href="./academics.html" title="UofA and MIT" >Academics</a>
        <a href="./weightlifting.html" title="IWF">Weightlifting</a>
        <a href="./recognition.html" title="Awards">Recognition</a>
        <a href="./personal.html" title="Life">Personal</a>
        <a class="navExternal" href="https://en.wikipedia.org/wiki/Sinclair_Coefficients" title="External" target="_blank">Sinclair Coefficients</a>
        <a class="navExternal" href="https://www.iwf.net/2015/03/23/dr-roy-sinclair-father-of-the-sinclair-bodyweight-formula-passed-away/" title="External" target="_blank">IWF</a>
        <a class="navExternal" href="http://www.edmontonjournal.com/opinion/Life+Times+Academically+driven+weightlifter+maintained/11002503/story.html" title="External" target="_blank">Newspaper</a>
    </nav>

    <!-- The flexible grid (content) -->
    <div class="container">
        <main>
            <h2>Personal Life</h2>
            <p>Dad has been my rock throughout my life, providing me the stability I needed.  He always made himself available to me, going the extra mile, literally.</p>
            <ul>
                <li>When my husband and I first moved from Calgary, Canada, to Texas in 2002, there was confusion at the US border crossing with my husband’s visa paperwork.  My paperwork was cleared, and they said I was free to continue on alone. I had needed to be at work in Dallas within just a few days, but was driving a big 24' UHaul full of everything we owned.  I was not keen on doing that long 2000 mile drive in that beast all alone, my Dad dropped everything and came to my rescue.</li>
                <li>Another time I had to transition between Engineering co-op jobs immediately from Ottawa to Calgary (36 hour drive). Dad flew out to Ottawa from Edmonton just to drive my car to Calgary while I flew to my next job.</li>
                <li>On countless occasions, when I lived in Calgary, he would drive down from Edmonton (3 hr trip) to pick up and care for my dog when I would go on trips.</li>
                <li>He was always the traditional gentleman: opening the car door and every door for me, walking curbside along sidewalks, etc.</li>
                <li>He always made me feel important.</li>
                <li>From 8th grade through university, it was just Dad and me at home. He did a great job as a single Dad.</li>
            </ul>
            <img class="imageNormal" src="./media/1972.jpg" alt="Dad and Lori 1972">
            <img class="imageNormal" src="./media/1993.JPG" alt="Dad and Lori 1993">
            <img class="imageNormal" src="./media/1994.jpg" alt="Dad and Lori 1994">
            <img class="imageNormal" src="./media/1995c.JPG" alt="Dad and Lori 1995">
            <img class="imageNormal" src="./media/1999e.JPG" alt="Dad and Lori 1999">
            <img class="imageNormal" src="./media/2007i.JPG" alt="Dad Lori and Jenna 2007">
        </main>
        <aside>
            <h2>Highlights</h2>
            <h3>PhD in Mathematics, MIT 1961</h3>
            <img class="imageSmall" src="./media/1960.JPG" alt="1960 Grad">

            <h3>Mathematics Professor, University of Alberta 1961-89</h3>
            <img class="imageSmall" src="./media/1962a.jpg" alt="1962 UofA Professor">

            <h3>Alberta Sports Hall of Fame, 2011</h3>
            <img class="imageSmall" src="./media/2011g.jpg" alt="Sports Hall">
            <img class="imageSmall" src="./media/2011h.jpg" alt="Sports Hall with plaque">

            <h3>International Weightlifting Federation Hall of Fame, 2017</h3>
            <img class="imageSmall" src="./media/Awarding2.jpg" alt="IWF Hall of Fame">
        </aside>
    </div>

    <footer>
        <p>Website created by Lori Sinclair</p>
        <p>Last updated 12/2/2019</p>
    </footer>
  
</body>
</html>