<!-- 
    Lori Sinclair
    12/2/2019
    ITSE 1311 Semester Project
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinclair</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  
    <!-- Header -->
    <header>
        <h1>Dr. Roy Sinclair</h1>
        <!-- <p>1929 to 2015</p> -->
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="./index.html" title="Back to Home page" >HOME</a>
        <a href="./academics.html" title="UofA and MIT" >Academics</a>
        <a href="./weightlifting.html" title="IWF">Weightlifting</a>
        <a href="./recognition.html" title="Awards">Recognition</a>
        <a href="./personal.html" title="Life">Personal</a>
        <a class="navExternal" href="https://en.wikipedia.org/wiki/Sinclair_Coefficients" title="External" target="_blank">Sinclair Coefficients</a>
        <a class="navExternal" href="https://www.iwf.net/2015/03/23/dr-roy-sinclair-father-of-the-sinclair-bodyweight-formula-passed-away/" title="External" target="_blank">IWF</a>
        <a class="navExternal" href="http://www.edmontonjournal.com/opinion/Life+Times+Academically+driven+weightlifter+maintained/11002503/story.html" title="External" target="_blank">Newspaper</a>
    </nav>

    <!-- The flexible grid (content) -->
    <div class="container">
        <main>
            <h2>Recognition</h2>
            <ul>
                <li>In 1980, the Premier of Alberta, Peter Lougheed, presented him with the Alberta Achievement Award in recognition of the IWF adopting his weightlifting formula.</li>
                <br>
                <img class="imageNormal" src="./media/1980.JPG" alt="Lougheed">
                <br>
                <li>In 2011, he was inducted into the Alberta Sports Hall of Fame for his many contributions to weightlifting.
                    <ul>
                        <li>Sinclair Formula</li>
                        <li>President of Alberta Weightlifting Federaton</li>
                        <li>Canadian Weightlifting Federation Official</li>
                        <li>First Canadian to become an International Weightlifting Federation #3 official</li>
                        <li>First Canadian to reach #1 official certification which qualified him for Olympics</li>   
                    </ul>
                </li>

                <br>
                <img class="imageNormal" src="./media/2011e.JPG" alt="Plaque on wall with GD">
                <img class="imageNormal" src="./media/2011f.JPG" alt="Plaque on wall">
                <br>
                <li>In 2017, the International Weightlifting Federation (IWF) inducted him into the Weightlifting Hall of Fame for his lifetime achievements in the sport of weightlifting</li>
                <br>
                <img class="imageNormal" src="./media/Plaque.jpg" alt="Plaque with D, GD">
                <img class="imageNormal" src="./media/Plaque2.jpg" alt="Plaque">
                <br>
            </ul>

        </main>
        <aside>
            <h2>Highlights</h2>
            <h3>PhD in Mathematics, MIT 1961</h3>
            <img class="imageSmall" src="./media/1960.JPG" alt="1960 Grad">

            <h3>Mathematics Professor, University of Alberta 1961-89</h3>
            <img class="imageSmall" src="./media/1962a.jpg" alt="1962 UofA Professor">

            <h3>Alberta Sports Hall of Fame, 2011</h3>
            <img class="imageSmall" src="./media/2011g.jpg" alt="Sports Hall">
            <img class="imageSmall" src="./media/2011h.jpg" alt="Sports Hall with plaque">

            <h3>International Weightlifting Federation Hall of Fame, 2017</h3>
            <img class="imageSmall" src="./media/Awarding2.jpg" alt="IWF Hall of Fame">
        </aside>
    </div>

    <footer>
        <p>Website created by Lori Sinclair</p>
        <p>Last updated 12/2/2019</p>
    </footer>
  
</body>
</html>