<!-- 
    Lori Sinclair
    2020/05/11
    ITSE-1301 Web Design Tools - Graphics
    Web Portfolio Project
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinclair Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>Sinclair's Web Portfolio</h1>
        </header>
        <main>
            <h2>Web Design Tools - Graphics</h2>
            <p>Course ITSE-1301, Web Design Tools - Graphics, focused on optimizing, manipulating, and creating images and graphics using Adobe Photoshop, which is a raster graphics editor and digital art tool.</p>
        </main>
        <aside>
            <h2>Project</h2>
            <p>This course project showcases my 5 best images from lab assignments throughout the semester. All images are my own original photos of my family and were resaved in a resolution appropriate for web viewing. Each image selection summarizes why I chose that lab and how I accomplished the changes. My favorite lab actually was creating a video from other video clips and images, but this project required images only. </p>
        </aside>
        <div class="lab-info">
            <h3>Lab #1 - Removing Unwanted Parts of an Image</h3>
            <p>I chose this lab, because it is extremely useful to be able to remove a distracting item.</p>
            <ul>
                <li>From Tools panel select Patch tool,  Select Content-Aware and Structure slider = 4</li>
                <li>Drag the patch tool around the shoes while holding mouse button down, release mouse, drag selection to the left, and release mouse</li>
                <li>From Tools panel select Clone stamp tool, select good portion of wood floor, select OPTION button and left mouse click to drag over floor to be fixed</li>
            </ul>
        </div>
        <div class="lab-photos">
            <figure>
                <img src="./images/Lab1Before.jpg" alt="Lab1 Before">
                <figcaption>Lab1 - Before</figcaption>
            </figure>
            <figure>
                <img src="./images/Lab1After.jpg" alt="Lab1 After">
                <figcaption>Lab1 - After (no shoes)</figcaption>
            </figure>
        </div>
        <div class="lab-info">
            <h3>Lab #2 - Magazine Cover Photo</h3>
            <p>This is useful for creating something fun to post on social media.</p>
            <ul>
                <li>Crop tool: cropped image to less than 800 px in height with smaller width for portrait size</li>
                <li>Horizontal Type tool: from Character panel, chose my font type, size, and color</li>
                <li>Select text layer, and then Layer > Layer Style > (adjusted settings until it looked nice in the Preview):
                    <ul>
                        <li>Drop Shadow</li>
                        <li>Outer Glow</li>
                        <li>Bevel & Emboss</li>
                    </ul>
                </li>
                <li>Select Background layer, Lasso tool: select nose, Move Tool + ALT : copied the nose and put a copy below on her neck and scaled it down</li>
                <li>Tools panel > Spot Healing Brush tool: clean up the eye goop under the eyes, and removed whiskers that were distracting</li>
            </ul>
        </div>
        <div class="lab-photos">
            <figure>
                <img src="./images/Lab2Before.jpg" alt="Lab2 Before">
                <figcaption>Lab2 - Before</figcaption>
            </figure>
            <figure>
                <img src="./images/Lab2After.jpg" alt="Lab2 After">
                <figcaption>Lab2 - After (poster with text and nose)</figcaption>
            </figure>
        </div>
        <div class="lab-info">
            <h3>Lab #3 - Correcting Light or Contrast</h3>
            <p>An otherwise great picture can be ruined by shadows, so this is a way to correct that.</p>
            <ul>
                <li>In the menu bar: Image > Adjustments > Shadow/Highlight</li>
                <li>Enable “Preview”</li>
                <li>Select “Show More Options”:
                    <ul>
                        <li>Shadows > Amount = 35%</li>
                        <li>Adjustments > Color = +5 (down from +20, because pinks too pink)</li>
                        <li>Note that I also tried following up with the Adjustments > Curves > Auto, but I did not like the results of that. The colors became too intense and darker.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="lab-photos">
            <figure>
                <img src="./images/Lab3Before.jpg" alt="Lab3 Before">
                <figcaption>Lab3 - Before</figcaption>
            </figure>
            <figure>
                <img src="./images/Lab3After.jpg" alt="Lab3 After">
                <figcaption>Lab3 - After (adjusted shadows)</figcaption>
            </figure>
        </div>
        <div class="lab-info">
            <h3>Lab #4a - Use a Mask to Reveal Part of a Layer</h3>
            <p>Masking to hide and reveal portions of layers creates very interesting effects.</p>
            <ul>
                <li>After opening 2 files, select Top Menu: Window > Arrange > 2-up Vertical</li>
                <li>Toolbar > Move tool and use mouse to select Legislature image (not the tab but the image itself) and hold while moving it onto Snow image. Allow a few seconds for PS to show second layer.</li>
                <li>Layers panel: select button at bottom, “Add Layer Mask”, to add to top layer. Click the layer mask, such that a white box appears around it.</li>
                <li>Toolbar > Brush tool to replace the water with snow from 2nd image:
                    <ul>
                        <li>Options bar: put brush to size to 200px and hardness = 50% to get paint most of snow, and then use smaller less hard brush for area around bottom of building.</li>
                        <li>Note the color picker should be black and white. If it is not press D.</li>
                        <li>Toggle with X to switch between white and black as needed for sections of each image to be shown. Black hides part of layer containing mask for image on layer underneath shows through.</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="lab-photos">
            <figure>
                <img src="./images/Lab4aBefore1.jpg" alt="Lab4a Before">
                <figcaption>Lab4a - Before</figcaption>
            </figure>
            <figure>
                <img src="./images/Lab4aAfter.jpg" alt="Lab4a After">
                <figcaption>Lab4a - After (replaced water with snow)</figcaption>
            </figure>
        </div>
        <div class="lab-info">
            <h3>Lab #4b - Combining Images Using a Mask</h3>
            <p>Sometimes the background of a photo just does not suit the subject, so this is a way to change that.</p>
            <ul>
                <li>Open 2 images: a person and a background.</li>
                <li>On person image, select Toolbar: Magic Wand tool with Contiguous selected in Options bar. Click image background. Top menu: Select > Invert, so person is now selected. With selection of person still active, click the “Add Layer Mask” button at bottom of Layers panel.</li>
                <li>In the Layers panel:
                    <ul>
                        <li>Click and hold an empty part of the layer containing the person and layer mask.</li>
                        <li>Keeping mouse pressed down, drag this to the tab of background image file.</li>
                    </ul>
                </li>
                <li>In this background file, select the person layer, and press CTRL+T to resize and position the layer appropriately.</li>
                <li>Click the layer mask, and select Toolbar > Brush tool to touch up anything that should be hidden or revealed, toggling with X to switch between white and black.</li>
                <li>Still with layer mask selected, now in Properties panel above press “Select and Mask” under Refine:
                    <ul>
                        <li>Toolbar menu: Refine Edge Brush tool wherever needed</li>
                        <li>Properties panel: set Smooth to 10 to soften jagged edges particularly at top of shoulder</li>
                        <li>Properties panel: set Feather to 5px to soften selection edges, because was too crisp before</li>
                        <li>Output Settings > Output To: Layer Mask</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="lab-photos">
            <figure>
                <img src="./images/Lab4bBefore1.jpg" alt="Lab4b Before">
                <figcaption>Lab4b - Before</figcaption>
            </figure>
            <figure>
                <img src="./images/Lab4bAfter.jpg" alt="Lab4b After">
                <figcaption>Lab4b - After (superimposed another image)</figcaption>
            </figure>
        </div>

        <footer>
            <p>Website created by Lori Sinclair</p>
            <p>Last updated 2020/05/11</p>
            <p>Email: <a href="mailto:lsinclair3@collin.edu">lsinclair3@collin.edu</a></p>
        </footer>
    </div>
</body>
</html>