<!-- 
  Lori Sinclair
  2020/05/12
  IMED-1341 Interface Design
  Semester Project
 -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sinclair - Acuity</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <header id="header" class="page-header">
    <div class="title">
      <h1>Detached Retina</h1>
      <div class="slogan">Eye Emergency</div>
    </div>
  </header>

  <nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu">
      toggle menu
    </button>
    <div class="menu-dropdown">
      <ul class="nav-menu">
        <li><a href="./about.html" title="About this website">About</a></li>
        <li><a href="./index.html" title="Home">HOME</a></li>
        <li><a href="./eye.html" title="Eye">Eye</a></li>
        <li><a href="./acuity.html" title="VisualAcuity">Acuity</a></li>
        <li><a href="./retina.html" title="Detached Retina">Detached Retina</a></li>
        <li><a href="https://www.aao.org/" title="American Academy of Opthalmology" target="_blank">AAO</a></li>
        <li><a href="https://store.aao.org/media/resources/11947611/Detached%20Retina_03-16.pdf" title="AAO Detached Retina Brochure" target="_blank">Brochure</a></li>
        <li><a href="https://www.webrn-maculardegeneration.com/vitreous-humor.html" title="WebMD Vitreous Humor" target="_blank">WebMD</a></li>
      </ul>
    </div>
  </nav>

  <aside id="hero" class="hero">
    I suffered a detached retina in my right eye in 2019.
  </aside>

  <main id="main">
    <div class="row">

      <section class="column">
        <h2 class="subtitle">Visual Acuity - clarity or sharpness of vision</h2>
          <ul>
            <li>
              When you reach middle age (40+), your visual acuity will probably not change, but you may lose your near vision. 
            </li>
            <li>
              Your eyes' lenses become less flexible and it becomes harder to change focus from objects that are far away to close objects.
            </li>
            <li>
              Diopter equivalency compared to normal (0: 20/20):
            </li>
              <ul>
                <li>MILD can see clearly out to 50 cm (20")
                  <ul><li>-1: 20/40</li></ul>
                </li>
              </ul>
              <ul>
                <li>MEDIUM can see clearly out to 25 cm (10")
                  <ul>
                    <li>-2: 20/80*</li>
                    <li>-3: 20/150*</li>
                    <li>-4: 20/300*</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>HIGH (and higher risk for detached retina)
                  <ul>
                    <li>-5: 20/400*</li>
                    <li>-6: 20/500*</li>
                  </ul>
                </li>
              </ul>
          </ul>
      </section>

      <section class="column">
        <h2 class="subtitle">Statistics</h2>
        <ul>
          <li>
            Only about 35% of adults have 20/20 vision naturally (without the aid of glasses, contacts, or corrective surgery).
          </li>
          <li>
            With corrective measures, approximately 75% of adults have 20/20 vision.
          </li>
          <li>
            People are considered “legally blind” if their corrected vision (with eyeglasses or contacts) is 20/200 or worse.
          </li>
          <li>
            In almost every state, visual acuity of 20/40 or better is required for an unrestricted driver's license.
          </li>
          <li>
            Prevalence of myopia in adults (20-59) measured in diopter spherical equivalent:
            <ul>
              <li>50% with ≤ -0.5</li>
              <li>37% with ≤ -1</li>
              <li>8% with ≤ -5 (severe, and higher risk for detached retina)</li>
            </ul>
          </li>
        </ul>
        <cite>Data from  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2772054/" target="_blank">NCBI</a></cite>
      </section>

    </div>
  </main>

  <footer>
    <p>Website created by Lori Sinclair</p>
    <p>Email: <a href="mailto:lsinclair3@collin.edu">lsinclair3@collin.edu</a></p>
    <a href="./privacy.html" title="Privacy Policy">Privacy Policy</a>
  </footer>
  
  <script src="./script.js"></script>

</body>
</html>