<!-- 
  Lori Sinclair
  2020/05/12
  IMED-1341 Interface Design
  Semester Project
 -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sinclair - HOME</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <header id="header" class="page-header">
    <div class="title">
      <h1>Detached Retina</h1>
      <div class="slogan">Eye Emergency</div>
    </div>
  </header>

  <nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu">
      toggle menu
    </button>
    <div class="menu-dropdown">
      <ul class="nav-menu">
        <li><a href="./about.html" title="About this website">About</a></li>
        <li><a href="./index.html" title="Home">HOME</a></li>
        <li><a href="./eye.html" title="Eye">Eye</a></li>
        <li><a href="./acuity.html" title="VisualAcuity">Acuity</a></li>
        <li><a href="./retina.html" title="Detached Retina">Detached Retina</a></li>
        <li><a href="https://www.aao.org/" title="American Academy of Opthalmology" target="_blank">AAO</a></li>
        <li><a href="https://store.aao.org/media/resources/11947611/Detached%20Retina_03-16.pdf" title="AAO Detached Retina Brochure" target="_blank">Brochure</a></li>
        <li><a href="https://www.webrn-maculardegeneration.com/vitreous-humor.html" title="WebMD Vitreous Humor" target="_blank">WebMD</a></li>
      </ul>
    </div>
  </nav>

  <aside id="hero" class="hero">
    I suffered a detached retina in my right eye in 2019.
  </aside>

  <main id="main">
    <div class="row">

      <section class="column">
        <h2 class="subtitle">The Eye</h2>
        <ul>
          <li>
            Eyes are organs which provide us with the ability to see. 
          </li>
          <li>
            They detect light and convert impulses to our brain.
          </li>
          <li>
            The parts of the eye are listed in the diagram below:
          </li>
        </ul>
        <figure>
          <img src="./images/Human_eye_diagram-sagittal_view-NEI.jpg" alt="Human Eye Diagram">
          <figcaption>Human Eye by <a href="https://commons.wikimedia.org/wiki/File:Human_eye_diagram-sagittal_view-NEI.jpg" title="via Wikimedia Commons">National Eye Institute</a></figcaption>
        </figure>
      </section>

      <section class="column">
        <h2 class="subtitle">Visual Acuity</h2>
        <ul>
          <li>
            An eye chart measures visual acuity, which is the clarity or sharpness of vision.
          </li>
          <li>
            “20/20 vision” refers to normal vision, not perfect vision.
          </li>
          <li>
            A person with 20/20 vision can see what an average individual can see on an eye chart when they are standing 20 feet away.
          </li>
          <li>
            For example, if you have 20/30 vision, it means your vision is worse than average. When you are standing 20 feet from the chart, you can read letters that most people see when they are 30 feet away.
          </li>
        </ul>  
        <figure>
          <img src="./images/800px-Snellen_chart.svg.png" alt="Visual Acuity Chart">
          <figcaption>Visual Acuity Chart by <a href="https://commons.wikimedia.org/w/index.php?curid=4262200" title="via Wikimedia Commons">Jeff Dahl</a></figcaption>
        </figure>
      </section>

      <section class="column">
        <h2 class="subtitle">Detached Retina</h2>
        <ul>
          <li>
            The retina is a layer of nerve cells lining the back wall inside the eye.
          </li>
          <li>
            This layer senses and sends signals to the brain so you can see.
          </li>
          <li>
            A detached retina is when the retina lifts away from the back of the eye making vision blurry.
          </li>
          <li>
            It is a medical emergency when this happens with the possibility of losing sight in that eye permanently.
          </li>
        </ul>
        <figure>
          <img src="./images/500px-Human_eye_cross_section_detached_retina.svg.png" alt="Detached Retina">
          <figcaption>Detached Retina by <a href="https://commons.wikimedia.org/wiki/File:Human_eye_cross_section_detached_retina.svg" title="via Wikimedia Commons">Erin Silversmith</a></figcaption>
        </figure>
      </section>

    </div>
  </main>

  <footer>
    <p>Website created by Lori Sinclair</p>
    <p>Email: <a href="mailto:lsinclair3@collin.edu">lsinclair3@collin.edu</a></p>
    <a href="./privacy.html" title="Privacy Policy">Privacy Policy</a>
  </footer>

  <script src="./script.js"></script>
  <!-- <script type="text/javascript">
  (function() {
  var menuButton = document.getElementById('toggle-menu');
  menuButton.addEventListener('click', function(event) {
    event.preventDefault();
    var menu = document.getElementById('main-menu');
    menu.classList.toggle('is-open');
    });
  })();
  </script> -->

</body>
</html>